body{
	background-image: url("back.png") ;
}

header {
	font-family: Helvetica, serif;
	font-size: 16px;
	text-align: center;
	background: linear-gradient(135deg, rgb(77,154,247) 30%, white 60%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 0.3em 0.6em ;
	border-bottom: solid 3px #7c99d4;
}

header:hover { 																	/* селектор псевдокласса */
	background: linear-gradient(135deg, white 30%, rgb(77,154,247) 60%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: help;
}

.left-side {
	position: absolute;	/* Абсолютное позиционирование */
	left: 15%; /* Положение слоя от левого края */
	top: 25%; /* Положение слоя от верхнего края */
}

img {
	width: 380px;
	border: 10px;
	border-radius: 30px;
}

.child {
	display: inline-block;
}

.right-side{
	border-radius: 30px;
	font-weight: bold;

	position: absolute;	/* Абсолютное позиционирование */
	width: 380px; /* Ширина слоя в пикселах */
	height: 350px; /* Высота слоя в пикселах */
	left: 70%; /* Положение слоя от левого края */
	top: 45%; /* Положение слоя от верхнего края */
	margin-left: -211px; /* Отступ слева, включает padding и border */
	margin-top: -150px;	/* Отступ сверху */
	background: white; /* Цвет фона */
	padding: 10px; /* Поля вокруг текста */
	color: rgb(77,154,247);															/* <----- Наследование	 */
	font-size: 10px; 																/* <----- Каскадирование */
}

#form{
	left: 50%; /* Положение слоя от левого края */
	padding: 20%;
	font-family: Helvetica, serif;
	font-size: 30px;																/* <----- Каскадирование */
}

[name]{																				/* Селектор атрибутa */
	width: 150px;
	padding: 3%;
	margin-top: 15%;

}

.button{
	width: 150px;
	height: 50px;
	margin-left:50px;
	margin-top:50px;
	background-color: rgb(77,154,247);
	border-radius: 10px;
	font-size: 15px;
	font-family: Helvetica, serif;
	font-weight: bold;
	border: 2px solid black;

}

.button:hover{
	background-color: white;
}

.button::first-line{
	font-size: 16px;
}

.x{
	margin-top: 10px;
	margin-left: 15px;
}

.y{
	margin-left: 15px;
}

.r{
	margin-left: 15px;
}


